/* Add your custom extension styling here */

.icon {
  /* padding: 0 0.5em 0 0; */
  /* padding: 0.5em 0; */
  icon-size: 1em;
}

.label {
  font-size: 0.9em;
  line-height: 1;
}

.critical {
  color: red;
}

.charging {
  color: blue;
}
